.yellow {
  color: #bfa600;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.orange {
  color: orange;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.negro {
  color: black;
  font-weight: bold;
}
